@font-face {
    font-family: "Poppins";
    src: url("poppins-light.ttf");
}

body {
    font-family: "Poppins";
}


.logo {
    height: 6rem;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 50;
    padding: 50;
    border-radius: 3rem;
    background: #f1f7fb;
}

.status {
    font-size: 1.5rem;
    margin: 35;
}

.hidden {
    display: none;
}